{% extends 'base.html' %}


{% block conteudo %}
<div class="pure-g-r content-ribbon">
	<div class="pure-u-1">
	    <h1 class="splash-head">Fale conosco</h1>
	    <p>Você pode entrar em contato consco tanto por e-mail como pelas redes sociais, abaixo seguem os links para contato:</p>
	<h4>Links</h4>
	<ul>
		<li>E-mail: <a href="mailto:contato@simplemooc.org">contatos@simplemooc.org</a></li>
		<li>Twitter:<a href="https://twitter.com/simplemoooc">@simplemooc</a></li>

	</ul>
</div>
</div>
{% endblock %}