{% extends 'courses/curso_dashboard.html' %}

{% block dashboard_content %}
    {% for announcement in announcements %}
    <div class="well">
        <h2><a href="{% url 'courses:show_announcements' curso.slug announcement.pk%}">Comentários</a></h2>
        {{ announcement.content|linebreaks }}
        <p>
            <a href="{% url 'courses:show_announcements' curso.slug announcement.pk%}#comments"></a>
            <i class="fa fa-comments-o"></i>
            {% with comments_count=announcement.comments.count %}
            {{ comments_count }}
                Comentário{{ comments_count|pluralize }}{# pluralize: se tiver mais de adiciona o s#}
            {% endwith %}
        </p>
    </div>
  {% empty %}
    <div class="well">
        <h2>Nenhum anúncio criado</h2>
    </div>
{% endfor %}
{% endblock %}